// @font-face {
//   font-family: 'Pretendard-Regular';
//   src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
//     format('woff');
//   font-weight: 400;
//   font-style: normal;
// }

$font-family: 'Pretendard', sans-serif;
$font-weights: (
  regular: 400,
  bold: 700,
  light: 300
);
$primary-color: #feede7;
$black: #333333;

@mixin ellipsis($line: 1) {
  @if ($line == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    word-wrap: break-word; // 공백 없을때 글자 짤림 방지
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

:root {
  --primary-background: linear-gradient(
    150deg,
    #ffffff 0%,
    rgba(242, 246, 255, 0.52) 48%,
    rgba(174, 189, 223, 0) 100%
  );
  --sub-background: linear-gradient(135deg, #feece6 0%, #f9c8b7 80%);
  --review-background: linear-gradient(200deg, #fff 100%, #f2f6ff 52%);
  --primary-box-shadow: inset -10px -10px 20px #fedee7,
    inset 0px 15px 30px rgba(255, 255, 255, 0.5),
    0px 30px 60px rgba(198, 161, 148, 1);
  --sub-box-shadow: inset 10px 10px 20px #feede7, 0 4px 6px rgba(0, 0, 0, 0.1);
  --review-box-shadow: inset 0px 0px 10px #f3ebed, 0px 10px 10px #c6a194,
    inset 0px 15px 0px rgba(255, 255, 255, 0.5);
  --main-letter-spacing: -0.05rem;
  --book-box-shadow: inset 0px -10px 20px #feede7, 0 10px 10px #c6a194,
    0 15px 30px #ffffff;
  --button-shadow: 0px 3px 5px 0px rgba(198, 161, 148, 0.34),
    inset 0px 15px 30px 0px rgba(255, 255, 255, 0.5);
}

body {
  display: flex;
  font-family: $font-family;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  margin: 0; /* 기본 margin 제거 */
  height: auto; /* 화면 전체 높이 */
  background-color: #feede7; /* 배경 색상 유지 */
  overflow-x: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%; /* 부모(body)의 전체 높이 사용 */
}

.main-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 자식 요소를 위에서 아래로 배치 */
  align-items: center;
  gap: 30px;
  width: 95vw;
  max-width: 1200px;
  padding: 40px;
  margin: 40px;
  background: var(--primary-background);
  border-radius: 50px;
  box-shadow: var(--primary-box-shadow);

  /* 자식 콘텐츠에 맞게 높이 조정 */
  height: auto;
  min-height: 80dvh; /* 최소 높이 설정 */
}

.book-box {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
