.neumorphic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
  border: none;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  color: #000;
  transition: all 0.3s ease;
  box-shadow: var(--button-shadow); /* 기본 box-shadow */
  width: 150px; /* 기본 너비 */
  height: auto; /* 기본 높이 */

  &:hover {
    box-shadow:
      inset 8px 8px 16px rgba(0, 0, 0, 0.2),
      inset -8px -8px 16px rgba(255, 255, 255, 0.7);
  }

  &:active {
    transform: scale(0.95);
  }

  /* 공통 기본 스타일 */
  &.default {
    background-color: #f5f5f5;
    color: #000;
  }

  /* 공통 수정 가능한 변수 */
  &.primary {
    background-color: #fbd1c8;
    color: #fff;
  }

  &.review-edit {
    background-color: #a2caff; /* 파란색 */
  }

  &.review-create {
    background-color: #fff9c4; /* 노란색 */
    width: 100px;
    height: 40px;
    padding: 0;
  }

  &.delete {
    background-color: #f8bbbb; /* 빨간색 */
    width: 100px;
    height: 40px;
  }

  &.read {
    background-color: #c8f8bb; /* 연두색 */
    width: 100px;
    height: 40px;
  }

  &.wishlist {
    background-color: #ffd6f8; /* 분홍색 */
    width: 100px;
    height: 40px;
  }

  &.submit {
    background-color: #748ae3;
    border-radius: 10px;
    font-weight: 400;
  }
}
