@import '../../styles.scss';
.side {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .logo {
    width: 60%;
  }
}

.side-bar {
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-background); /* CSS 변수 사용 */
  border-radius: 30px;
  box-shadow: var(--primary-box-shadow); /* CSS 변수 사용 */
  height: 100%;
  .raddit {
    width: 80%;
    transform: scaleX(-1);
  }
  .info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    .speech-bubble {
      display: flex;
      background-image: url('/cloud.png'); /* 구름 이미지 경로 */
      background-size: 90%;
      height: 100px;
      background-repeat: no-repeat;
      background-position: center;
      font-size: 14px;
      color: $black;
      padding: 15px 20px;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
      p {
        letter-spacing: var(--main-letter-spacing);
      }
    }
  }
}
